<!DOCTYPE html>
<html>
  <head>
    <title>NullPointerException</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://npe-app.sfo2.cdn.digitaloceanspaces.com/favicon.png" type="image/png" sizes="128x128">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
